@model ProductInventory.Infrastructure.Dto.ProductDto

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create";
}

<h1>Create Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="ProductCode" class="form-control" placeholder="Product code" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="ProductName" class="form-control" placeholder="Product name" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <label class="control-label"></label>
            <div class="form-group form-check">
                <label class="control-label"></label>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFavourite" /> @Html.DisplayNameFor(model => model.IsFavourite)
                </label>
            </div>
            <label class="control-label"></label>

            <div class="form-group form-check">
                <label class="control-label"></label>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="HSNCode" class="form-control" placeholder="HSN code" />
                <span asp-validation-for="HSNCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="TotalStock" class="form-control" placeholder="Total stock"/>
                <span asp-validation-for="TotalStock" class="text-danger"></span>
            </div>
            <label class="control-label"></label>
            <div class="form-group">
                <label class="control-label"></label>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <label class="control-label"></label>

        </form>
    </div>
</div>

<div>
    <label class="control-label"></label>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
